@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 8%;
    --foreground: 0 0% 95%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-black text-foreground;
  }
}

.hide-scrollbar {
  /* For Chrome, Safari, and Edge */
  ::-webkit-scrollbar {
    width: 0; 
  }

  /* For Firefox */
  ::-moz-scrollbar {
    width: 0; 
  }

  /* For Internet Explorer and Edge */
  -ms-overflow-style: none; 
  scrollbar-width: none; 
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}



@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  } 
  pre.shiki{
    @apply font-mono text-[13px] leading-[1.6] whitespace-pre-wrap break-words !p-4 !bg-transparent
  }
  .powder-response p {
    @apply text-gray-300 my-4
  }
  span.powder-response {
    @apply mt-[6px] text-[#d1d5db]
  }
  .powder-response ul{
    @apply list-disc ml-4 space-y-2 text-gray-300
  }
  .powder-response strong{
    @apply text-gray-100 font-semibold tracking-wide
  }
}

.line-clamp-1{
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}

pre.shiki code .line {
  display: inline-block;
  padding-left: 2.5rem; /* Ensure space for wrapped lines */
  text-indent: -3rem; /* Keep the first line aligned */
  overflow-wrap: break-word; /* Ensure word breaks */
  word-break: break-word; /* Extra word break support */
}

code {
  counter-reset: step;
  counter-increment: step 0;
}

code .line::before {
  content: counter(step);
  counter-increment: step;
  width: 1.5rem;
  margin-right: 1.5rem;
  display: inline-block;
  text-align: right;
  color: rgba(115,138,148,.4)
}

.lines-content.monaco-editor-background{
  background-color: #131314;
}